<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h3>name:{{name}}</h3>
  <h3>jobtitle:{{jobtitle}}</h3>
  <h3>salary:{{salary}}</h3>
  <h3>annualsalary:{{getannualsalary()}}</h3>
  <img [src]="logo"/>
  Enter your name:
  <input type="text"placeholder="type your name"[(ngModel)]="userName">
  <button (click)="greetUser()"> greet </button>
</body>
</html>